img{
    display: block;
    margin: 0 auto;
    width: 25%;
}
input{
    margin-top: 2%;
    margin-left: 44%;
}
.error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}